<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- 要加载的配置文件 -->
		<section name="SysInit" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<connectionStrings>
  <add name="DetailInfo.Properties.Settings.ConnectionString" connectionString="Data Source=PPSPL;User ID=ppuser;Password=321;Unicode=True"
   providerName="System.Data.OracleClient" />
  <add name="DetailInfo.Properties.Settings.ConnectionString1"
   connectionString="Data Source=oidsnew;Persist Security Info=True;User ID=plm;Password=123!feed;Unicode=True"
   providerName="System.Data.OracleClient" />
 </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
