
body{font-size:10pt;font-family:Arial ו @ו;}
img{cursor:hand}   
p{margin:0}
.img_button{cursor:hand;}
.button_1{width:60px;height:21px;font-size:10pt;padding:0;} 
.gv tr th{text-align:center;color:White;background-color:#006699;font-weight:bold;height:25px;border-bottom:solid 1px #000}
.gv tr td{overflow:hidden;height:23px} 
.hidden{display:none;}
html body{height:100%}
html {_overflow-y:scroll;}
.button_box{margin-bottom:4px}
#title{color:#006699;font-size:12pt; font-weight:bold}

#input1 td{border-bottom:0;
	border-left-width:0;
	border-right-width:0;
	border-top-width:0 ;padding:2px}
a:link{color:Blue; text-decoration:none;}
a:visited{color:Blue; text-decoration:none;}
a:hover{color:Blue; text-decoration:underline;}
a:active{color:Blue; text-decoration:underline;}