

body{text-align:center; padding-top:100px; width:100%}
img{border:0;margin:0}
table#tblform tr.inputTop td
{
   padding:10px 0px 0px 0px;
}
table#tblform tr.inputMid td
{
   padding:5px 0px 0px 0px;
}
table#tblform tr.inputBottom td
{
}
.inputText{border:Inset 1px White; background:#FFFFCC}
.inputBtn{background:#f6f8ff; color:#7f90b1;  vertical-align:middle; border:#f6f8ff;width:60px;height:21px}
table tr td{border-width:0}
#wrap{width:600px;margin:0 auto;text-align:center}