<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAD_Practice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <connectionStrings>
    <add name="Oracle" connectionString=" Data Source =oid;User ID =plm; password=123!feed"  providerName="System.Data.OracleClient"/>
    
  </connectionStrings>
  
  <applicationSettings>
    <CAD_Practice.Properties.Settings>
      <setting name="CAD_Practice_DrawingQuota_Drawing" serializeAs="String">
        <value>http://172.16.7.55/Services/Drawing.asmx</value>
      </setting>
      <setting name="CAD_Practice_ProjectQuota_ProjectInfo" serializeAs="String">
        <value>http://172.16.7.55/Services/ProjectInfo.asmx</value>
      </setting>
    </CAD_Practice.Properties.Settings>
  </applicationSettings>
</configuration>