<?xml version="1.0" encoding="utf-8"?><configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="jzpl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    
    <add name="didev" connectionString="Data Source=didev;Persist Security Info=True;User ID=jzadmin;Password=jzadmin;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="oledidev" connectionString="Provider=MSDAORA;Data Source=didev;Password=jzadmin;User ID=jzadmin;" providerName="System.Data.OleDb" />
    <add name="prod" connectionString="Data Source=yrsdi;Persist Security Info=True;User ID=jzadmin;Password=lsiewonh;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="oleprod" connectionString="Provider=MSDAORA;Data Source=yrsdi;Password=lsiewonh;User ID=jzadmin;" providerName="System.Data.OleDb" />
    
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="Emailname">
        <network host="172.16.7.17" userName="yias" password="123@A321" port="2525" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>   
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <sessionState timeout="20"></sessionState>
    <compilation debug="true">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Enterprise.Desktop.Report, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>      
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <!--<authentication mode="Windows"/>-->
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。  -->

    <customErrors mode="Off" defaultRedirect="errPage.aspx"></customErrors>

    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <globalization fileEncoding="gb2312" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN" />
    <pages validateRequest="false"></pages>
  </system.web>
  <applicationSettings>
    <jzpl.Properties.Settings>
      <setting name="jzpl_WebReference_authenticateService" serializeAs="String">
        <value>http://172.16.6.247:8300/authenticate.cfc</value>
      </setting>
      <setting name="jzpl_WebReference1_authenticateService" serializeAs="String">
        <value>http://172.16.6.247:8300/authenticate.cfc</value>
      </setting>
    </jzpl.Properties.Settings>
  </applicationSettings>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="CrystalImageCleaner-AutoStart" value="true"/>
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>
      <add key="PackagePartPicDirMax" value="100"/>
    </appSettings>
  </location> 
</configuration>
